<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <!-- Texto da Marca -->
    <a href="/" class="navbar-brand">
      Igreja Evangélica Restitui
    </a>

    <!-- Botão Toggle para dispositivos móveis -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Itens do Menu -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Links Centrais -->
      <ul class="navbar-nav me-auto" style="font-size: 1.5rem;">
        <li class="nav-item">
          <a class="nav-link" href="/">Início</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-decoration-underline" href="/obra">OBRA</a>
        </li>

        <li class="nav-item">
          <a class="nav-link " href="/contatos">Contatos</a>
        </li>


      </ul>

      <!-- Redes Sociais à Direita -->
      <div class="d-flex" style="font-size: 1.5rem;">
        <a href="https://www.facebook.com/ierestitui" class="text-light me-3" target="_blank"><i class="fab fa-facebook"></i></a>

        <a href="https://www.instagram.com/ie.restituioficial/" class="text-light me-3" target="_blank"><i class="fab fa-instagram"></i></a>

        <a href="https://wa.me/5519997049669?text=Ol%C3%A1%2C%20vim%20pelo%20site%20e%20gostaria%20de%20conhecer%20a%20igreja." class="text-light me-3" target="_blank"><i class="fab fa-whatsapp"></i></a>
      </div>
    </div>
  </div>
</nav>