<%- include('partials/header.ejs') %>

<style>
  .img-obra {
    max-width: 500px;
  }


  @media (max-width: 550px) {
    .img-obra {
      max-width: 350px;
    }
  }
</style>

<body>
  <%- include('partials/navbar.ejs') %>


  <div class="container text-center">

    <div class="jumbotron mt-4">
      <h1 class="display-4">A Paz do Senhor!</h1>
      <h1>OBRA - Olimpíadas Bíblicas Restitui Advance</h1>
      <p class="lead">Bem-vindo(a) às Olimpíadas Bíblicas Restitui Advance, também conhecidas como OBRA! 🎉

        Nesta emocionante competição, a nossa igreja está unida e, ao mesmo tempo, dividida em dois grandes times: Verde e Vermelho. Cada participante fará parte de um desses times, e juntos vocês enfrentarão desafios como, responder perguntas bíblicas, completar o louvor e até mesmo desafios físicos. O objetivo da OBRA é crescer espiritualmente e <strong>ganhar o máximo de ALMAS</strong> o possível.

        Quer descobrir a qual time você faz parte? É muito simples! Basta clicar no botão abaixo e descobrir sua equipe.</p>

      <div class="container">
        <div class="row">
          <div class="col">
            <video autoplay controls height="500">
              <source src="../videos/OBRA.mp4" type="video/mp4">
            </video>

          </div>
          <div class="col">
            <img src="../images/Baner_oficial.jpeg" class="img-obra">
          </div>
        </div>
        <div class="row">

        </div>
      </div>



      <hr class="my-4">
      <h4>Que comece a OBRA! Vamos juntos construir algo grandioso para a glória de Deus!</h4>
      <br>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/obra" role="button">DESCUBRA SEU TIME!</a>
      </p>
    </div>
  </div>


</body>

<%- include('partials/footer.ejs') %>