<%- include('../partials/header.ejs') %>

<body>
  <%- include('../partials/navbar.ejs') %>


  <div class="container text-center">
    <br>
    <h1>Cadastro de Visitante</h1>
    <hr>
    <form action="/visitante/cadastro" method="POST">
      <div class="form-group">
        <label for="nome">Nome do Visitante:</label>
        <br>
        <input type="text" class="form-control" id="nome" name="nome" required>
      </div>
      <br>
      <div class="form-group">
        <label for="telefone">Telefone:</label>
        <br>
        <input type="tel" class="form-control" id="telefone" name="telefone" required>
      </div>
      <br>


      <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>

  </div>


</body>

<%- include('../partials/footer.ejs') %>