<%- include('../partials/header.ejs') %>

<body>
  <%- include('../partials/navbar.ejs') %>

  <div class="container">
    <br>

    <form method="post" action="/user/login">

      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Digite seu e-mail" name="email">
      </div>
      <br>
      <div class="form-group">

        <label for="password">Senha</label>
        <input type="password" class="form-control" id="password" placeholder="Digite sua senha" name="password">
      </div>
      <br>

      Ainda não tem uma conta? <a href="/user/cadastro">Clique aqui para se cadastrar.</a>
      <br> <br>
      <button type="submit" class="btn btn-primary">Entrar</button>
    </form>
  </div>


</body>

<%- include('../partials/footer.ejs') %>