<%- include('../partials/header.ejs') %>

<body>
  <%- include('../partials/navbar.ejs') %>


  <div class="container">
    <form action="/obra/cadastro" method="POST">
      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" name="nome" required>
      </div>
      <div class="form-group">
        <label for="time">Time</label>
        <select class="form-control" id="time" name="time" required>
          <option value="">Selecione uma opção</option>
          <option value="Verde">Verde</option>
          <option value="Vermelho">Vermelho</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>

  </div>


</body>

<%- include('../partials/footer.ejs') %>